body {
    background: rgb(64, 64, 65);
    color: white;
    font-family: "Nunito", sans-serif;
    margin: 0px;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px;
    font-size: 40px;
    color: rgb(97, 3, 248);
}

.chamada {
    background: rgb(138, 135, 141);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}